# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment / secrets
.env
.venv

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
.log

# Other
tests/